<!DOCTYPE html>
<html>

    <%- include('comum/head', {tituloPagina}) %>
    <%moment.locale('pt-br');%>
    <body>
        <%- include('comum/navbar') %>
        <div class="footer-basic" style="background-color: #ffffff;">
            <div class="container">
                <div class="card">
                    <div class="col-12 text-right mt-2">
                        <span class="pointer editar-dados-pessoais">
                            <i class="fas fa-edit"></i>
                        </span>
                    </div>
                    <div class="row no-gutters mt-2">

                        <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
                            <img class="img-fluid curriculo-img" src="/images/minibus.jpeg">
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <div class="card-body">
                                <h4 class="card-title mt-3 candidato-nome"><%=candidato.nome%></h4>
                                <p class="card-text candidato-descricao">
                                    <% if(!TemplateUtils.taVazio(candidato.descricao)){%>
                                    <%=candidato.descricao%>
                                    <%}%></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h4>Informações de contato</h4>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div>
                                    <label>Email</label>
                                    <p class="candidato-email"><%=candidato.email%></p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <div>
                                <label>Celular</label>
                                <p class="candidato-celular">(11) 9 8016-5445</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Endereço
                                        <small class="pointer editar-endereco">
                                            <i class="fas fa-edit"></i>
                                        </small>
                                    </h4>
                                </div>
                                <div class="col-12 candidato-endereco">
                                    
                                    <!-- Logradouro Nº100, Lapa, São Paulo, SP - CEP - complemento -->
                                    <% if(endereco){%>
                                        <%=endereco.logradouro%> Nº<%=endereco.numero%>, <%=endereco.bairro%> - <%=endereco.cidade%>, <%=endereco.uf%> <%=endereco.cep%> 
                                        <% if(endereco.complemento){%>
                                         - <%=endereco.complemento%>
                                        <%}%>
                                    <%}%></p>
                                    <% if(!endereco){%>
                                        -
                                    <%}%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <h4>
                                Experiencias
                                <small class="pointer criar-experiencia">
                                    <i class="fas fa-plus"></i>
                                </small>
                            </h4>
                        </div>
                        <div class="col experiencias">
                            <% if(experiencias){%>
                                <%- include('componentes/experiencias',{experiencias}) %>
                            <%}%>
                            <% if(!experiencias){%>
                                <p>-</p>
                            <%}%>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <h4>Formação academica <small><i class="fas fa-plus"></i></small></h4>
                        </div>
                        <div class="col-12">
                            <p>Curso, instituição - 02/2018</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <h4>Idiomas <small><i class="fas fa-plus"></i></small></h4>
                        </div>
                        <div class="col-12">
                            <p>Idioma - nivel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <%- include('modal/dadosGerais') %>
        <%- include('modal/endereco') %>
        <%- include('modal/criarExperiencia') %>
        <%- include('modal/criaIdioma') %>
        <%- include('modal/criarAcademica') %>
        <%- include('comum/footer') %>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/smart-forms.min.js"></script>
        <script src="/js/script.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js" integrity="sha256-4HOrwHz9ACPZBxAav7mYYlbeMiAL0h6+lZ36cLNpR+E=" crossorigin="anonymous"></script>
        <script src="/js/utils.js"></script>
        <script>
            let DadosGerais = {} || DadosGerais
            let Endereco = {} || Endereco
            let Experiencia = {} || Experiencia
            let Academico = {} || Academico
            let Idioma = {} || Idioma
            moment.locale('pt-br')
            DadosGerais.main = function () {
                $('.editar-dados-pessoais').on('click', () => {
                    axios.get('/candidato/curriculo/geral')
                        .then(function (res) {
                            console.log(res)
                            let data = res.data
                            $('.modal-editar-dados-pessoais .nome').val(data.nome)
                            $('.modal-editar-dados-pessoais .email').val(data.email)

                            if (Utils.taVazio(data.data_nasc)) {
                                $('.modal-editar-dados-pessoais .data-nasc').val('')
                            }
                            if (!Utils.taVazio(data.data_nasc)) {
                                $('.modal-editar-dados-pessoais .data-nasc').val(data.data_nasc.split('T')[0])
                            }

                            $('.modal-editar-dados-pessoais .descricao').val(data.descricao)
                            $('.modal-editar-dados-pessoais .estado-civil').val(data.estado_civil)
                            $('.modal-editar-dados-pessoais').modal('show')
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                })
                $('.modal-editar-dados-pessoais form').on('submit', (e) => {
                    e.preventDefault()
                    let data = Utils.serializar($(e.currentTarget))
                    axios.put('/candidato/curriculo/geral', data)
                        .then(function (res) {
                            // $('.modal-editar-dados-pessoais').modal('show')
                            let data = res.data
                            $('.candidato-nome').text(data.nome)
                            $('.candidato-email').text(data.email)
                            //$('.candidato-data-nasc').val(data.data_nasc.split('T')[0])
                            $('.candidato-descricao').text(data.descricao)
                            //$('.candidato-estado-civil').val(data.estado_civil)
                            $('.modal-editar-dados-pessoais').modal('hide')
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                })
            }

            Endereco.main = function () {
                $('.editar-endereco').on('click', (e) => {
                    axios.get('/candidato/curriculo/endereco')
                        .then(function (res) {
                            console.log(res)
                            let data = res.data
                            $('.modal-editar-endereco .cep').val(data.cep)
                            $('.modal-editar-endereco .logradouro').val(data.logradouro)
                            $('.modal-editar-endereco .numero').val(data.numero)
                            $('.modal-editar-endereco .bairro').val(data.bairro)
                            $('.modal-editar-endereco .cidade').val(data.cidade)
                            $('.modal-editar-endereco .uf').val(data.uf)
                            $('.modal-editar-endereco .complemento').val(data.complemento)
                            $('.modal-editar-endereco').modal('show')
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                    //$('.modal-editar-endereco').modal('show')
                })
                $('.modal-editar-endereco form').on('submit', (e) => {
                    e.preventDefault()
                    let data = Utils.serializar($(e.currentTarget))
                    console.log(data)
                    axios.put('/candidato/curriculo/endereco', data)
                        .then(function (res) {
                            let endereco = res.data
                            let texto
                            if(Utils.taVazio(data.complemento)){
                                texto = `${endereco.logradouro} Nº${endereco.numero}, ${endereco.bairro} - ${endereco.cidade}, ${endereco.uf} ${endereco.cep}`
                            } else {
                                texto = `${endereco.logradouro} Nº${endereco.numero}, ${endereco.bairro} - ${endereco.cidade}, ${endereco.uf} ${endereco.cep} - ${endereco.complemento}`
                                 
                            }
                            
                            $('.candidato-endereco').text(texto)
                            $('.modal-editar-endereco').modal('hide')
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                })
            }
           
            Experiencia.main = function () {
                $('.criar-experiencia').on('click', (e) => {
                    $('.modal-criar-experiencia form').trigger('reset');
                    $('.modal-criar-experiencia .atual').trigger('change');
                    $('.modal-criar-experiencia').modal('show')
                })
                $('.modal-criar-experiencia form').on('submit', (e) => {
                    e.preventDefault()
                    let data = Utils.serializar($(e.currentTarget))
                    //console.log(data)
                    axios.post('/candidato/curriculo/experiencia', data)
                        .then(function (res) {
                            let experiencia = res.data
                            let templateInterno
                            console.log(experiencia)
                            //console.log(experiencia.hasOwnProperty('data_final'))
                            if(!experiencia.hasOwnProperty('data_final')){
                                console.log('aqui')
                                 /*html*/
                                templateInterno =`o momento -
                                <strong>
                                    ${moment(experiencia.data_inicio).fromNow(true)}
                                </strong>`
                            } else {
                                 /*html*/
                                templateInterno =`
                                ${moment(experiencia.data_final).format('DD/MM/yyyy')} -
                                <strong>
                                  ${moment(experiencia.data_inicio).from(experiencia.data_final, true)}
                                </strong>`
                            }
                            /*html*/
                            let template = (interno) => `
                            <div class="mt-2 experiencia-wrapper">
                                <div>
                                  <strong>${experiencia.cargo}</strong> em
                                  <strong>${experiencia.empresa}</strong>
                                  <span class="pointer excluir-experiencia" 
                                  data-id-experiencia="${experiencia.id}">
                                    <i class="fas fa-trash"></i>
                                  </span>
                                </div>
                                <div>
                                  De ${moment(experiencia.data_inicio).format('DD/MM/yyyy')} até
                                  ${interno}
                                </div>
                            </div>`
                            //console.log(template(templateInterno))
                            $('.experiencias').append(template(templateInterno))
                            $('.modal-criar-experiencia').modal('hide')
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                })
                $('.modal-criar-experiencia .atual').on('change', (e)=>{
                    console.log(e)
                    if($(e.currentTarget).is(':checked')){
                        $('.data-final').attr('disabled',true)
                    } else {
                        $('.data-final').removeAttr('disabled')
                    }
                })
                $('.excluir-experiencia').on('click', (e) => {
                    let id = $(e.currentTarget).attr('data-id-experiencia')
                    let data = { id }
                    axios.delete('/candidato/curriculo/experiencia', { data })
                        .then(function (res) {
                            let data = res.data
                            console.log(data.id)
                            $(`[data-id-experiencia="${data.id}"]`).parents('.experiencia-wrapper').remove()
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                })
            }
           
            DadosGerais.main()
            Endereco.main()
            Experiencia.main()
        </script>
    </body>

</html>