<!DOCTYPE html>
<html>

    <%- include('comum/head', {tituloPagina}) %>

    <body>
        <div class="projects-clean">
            <%- include('comum/navbar') %>
            <div class="container">
                <div class="intro">
                    <h2 class="text-center" style="height: 59px;width: 501px;padding: 15px;">Vagas</h2>
                    <p class="lead text-center">Nossas vagas disponiveis</p>
                </div>
                <%- //JSON.stringify(vagas) %>
                <div class="row projects">
                   
                <%if(vagas){%>
                    <% vagas.forEach(vaga=>{%> 
                        <div class="col-12 col-lg-4 item">
                            <img class="img-fluid" src="images/DANONE_LOGO.png" style="max-width: 338px;">
                            <h3 class="name">
                                <%=vaga.empresa_nome%>
                            </h3>
                            <h4>
                                <%=vaga.cargo%>
                            </h4>
                            <a class="btn btn-primary" href="/vaga/<%=vaga.id%>" style="background-color: #cb6ce6;border:solid 1px #cb6ce6">Inscreva-se</a>
                        </div>
                        <% }) %> 
                <%}%>
                <%if(!vagas.length){%>
                    <div class="col-12 item">
                        Não foram encontradas vagas no momento
                    </div>
                <%}%>
                </div>
            </div>
        </div>
        <%- include('comum/footer') %>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/smart-forms.min.js"></script>
        <script src="/js/script.min.js"></script>
    </body>

</html>