<% experiencias.forEach(experiencia => { %>
<div>
  <div>
    <strong><%= experiencia.cargo %></strong> em
    <strong><%= experiencia.nome_empresa%></strong>
  </div>
  <div>
    De <%= moment(experiencia.data_inicio).format('DD/MM/yyyy')%> até <%
    if(TemplateUtils.taVazio(experiencia.data_final)){%> o momento -
    <strong><%= moment(experiencia.data_inicio).from(true)%></strong> <%}%> <%
    if(!TemplateUtils.taVazio(experiencia.data_final)){%> <%=
    moment(experiencia.data_final).format('DD/MM/yyyy')%> -
    <strong><%= moment(experiencia.data_inicio).fromNow(true)%></strong>
    <%}%>
  </div>
</div>
<% })%>
